/* google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
body {
    padding: 26px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    border: 2px solid black;
    padding: 12px;
}

.konten .judul {
    text-align: center;
    font-size: 33px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fb9d00;
}

.konten .descJudul {
    text-align: center;
    width: 55%;
    margin: 0 auto;
    margin-bottom: 26px;
}

.konten img {
    display: grid;
    margin: 10px auto;
    width: 100%;
}


/* Responsive */


/* tablet */

@media (width:768px) {
    .konten .judul {
        font-size: 27px;
        font-weight: 700;
        letter-spacing: 0px;
    }
    .konten .descJudul {
        width: 90%;
        margin-bottom: 26px;
    }
    .konten img {
        margin: 10px auto;
        width: 102%;
    }
}


/* mobile */

@media (max-width:600px) {
    .konten .judul {
        font-size: 35px;
        font-weight: 700;
        letter-spacing: 0px;
    }
    .konten .descJudul {
        width: 89%;
        font-size: 14px;
        margin-bottom: 26px;
    }
    .konten img {
        margin: 10px auto;
        width: 102%;
    }
}


/* Responsive */